.container {
  border: 1px;
}

* {
  padding: 0;
  margin: 0;
}

.container > h2 {
  text-align: center;
  padding-bottom: 5px;
}

.box1 {
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  height: 400px;
  width: 600px;
  justify-content: space-evenly;
  margin-top: 20px;
}

.Box1a {
  display: inline-block;
  padding-top: 25px;
  text-align: justify;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  word-spacing: 0;
  text-align: justify;
}
.Box1a > p {
  width: 1000px;
}

.box1 img {
  margin-right: 20px;
}

p {
  margin: 0px;
  width: 700px;
}

.box2 {
  display: flex;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  justify-content: space-around;
}

.TMDB-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.TMDB-box2 {
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

@media (max-width: 414px) {
  .box1 {
    justify-content: space-evenly;
    font-size: 14px;
    max-width: 100%;
  }
  .box1 img {
    width: 100px;
    height: 110px;
  }
  .Box1a p {
    width: 100%;
    display: block;
  }
  .chart-container canvas {
    width: 100px;
    height: 120px;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .box1 p {
    width: 100%;
  }

  .box1 {
    justify-content: space-evenly;
    font-size: 15px;
    max-width: 100%;
  }
  img {
    width: 130px;
    height: 170px;
    margin-left: 50%;
  }

  .box2 {
    padding-bottom: 80px;
    width: 100%;
    justify-content: space-between;
  }

  .Box1a p {
    width: 100%;
    display: block;
  }
}
@media (max-width: 1024px) {
  .box1 {
    justify-content: space-evenly;
    font-size: 15px;
    max-width: 100%;
  }
  .box1 p {
    max-width: 100%;
  }
  .Box1a p {
    width: 100%;
    display: block;
  }
}
