.App,
h1 {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

#root {
  color: rgb(240, 248, 255);
  background: linear-gradient(rgba(1, 1, 1, 0.9), rgba(34, 33, 33, 0.9)),
    url("./background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

* {
  border: 1px;
}

#navbar {
  position: sticky;
  top: 0;
  background-color: transparent;
  height: 50px;
  justify-content: space-between;
  border-radius: 5px;
  
}

.nav-link:hover {
  
  text-decoration: none;
  opacity: 0.7;
  color: white;
  font-size: 18px;
  
  
}
.navbar-brand:hover {
  
  text-decoration: none;
  opacity: 0.8;
  color: white;
  font-size: 18px;
}

.nav-link {
  display: block;
  text-align: left;
  padding: 5px;
  border-right: 5px;
  text-decoration: none;
}
.navbar-brand {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 0 5 0 0;
}

.nav-link #current{
  background-color: blue;
}

