.App,
h1 {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

#root {
  background-color: rgb(31, 30, 30);
  color: rgb(240, 248, 255);
  
}

* { 
  border: 1px; 
}

#navbar{
  position: sticky;
  top: 0;
  background-color: transparent;
  
}